.counter-container {
  display: flex;
  justify-content: center;
}

.counter {
  text-align: center;
}

.control-buttons button {
  padding: 10px 20px;
  gap: 5px;
}

.control-buttons {
  display: flex;
  gap: 5px;
}
