.counter-container {
  display: flex;
  justify-content: center;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-buttons button {
  padding: 10px 20px;
  gap: 5px;
}

.control-buttons {
  display: flex;
  gap: 5px;
}

.positive {
  background-color: #e6f4ed;
  color: #1f7a4d;
  padding: 0px 20px;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid #1f7a4d;
  box-shadow: 0px 0px 8px 0px #1f7a4d;
  width: 170px;
  margin-top: 20px;
  text-align: center;
}

.negative {
  background-color: #faeaeb;
  color: #9f283a;
  padding: 0px 20px;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid #9f283a;
  box-shadow: 0px 0px 8px 0px #9f283a;
  width: 170px;
  margin-top: 20px;
  text-align: center;
}

.neutral {
  background-color: #f3f4f6;
  color: #374151;
  padding: 0px 20px;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid #374151;
  box-shadow: 0px 0px 8px 0px #374151;
  margin-top: 20px;
  width: 170px;
  text-align: center;
}
