<div class="game-container">
  <div class="game-content">
    <h1>Guess the Number Game</h1>
    <p>Guess a number between 1 and 100!</p>
    <p style="margin-top: 5px">Your Guess: {{ guessedNumber }}</p>
    <input type="number" [(ngModel)]="guessedNumber" [disabled]="gameOver" />
    <button (click)="submitGuess()" *ngIf="!gameOver" [disabled]="!guessedNumber">
      Submit Guess
    </button>
    <div *ngIf="!gameOver" style="text-align: center">
      <p>Attempts Left : {{ attemptsLeft }}</p>
      <p style="margin-top: 0px">{{ guessState }}</p>
    </div>

    <div *ngIf="gameOver" class="game-over">
      <p *ngIf="isWinner">Congratulations your guess is correct!</p>
      <p *ngIf="!isWinner">Better luck next time. The number was : {{ seceretNumber }}</p>
      <button (click)="resetGame()">Play Again</button>
    </div>
  </div>
</div>
